.AIButton {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    padding: 16px 13px;
    font-size: 18px;
    border-radius: 16px;
    border: 0px;
}

.AIButton:hover {
    background-color: #d7d7d7;
}

.AIButton:active {
    background-color: #b1b1b1;
}

.AIIcon {
    width: 21px;
    height: 21px;
}



@media (max-width: 475px) {
    .AIButton {
        display: none;
    }
}